{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "lang.english.rule.page.index.title" %}{% endblock title %}

{% block content %}
<main class="container">
  <div class="row py-3">
    <div class="col">
      <h1>{% trans "lang.english.rule.page.index.header" %}</h1>
    </div>
    <div class="col-auto">
      <a href="javascript:history.back()" class="wse-btn"
        >
         {% trans 'button.back' %}
      </a>
    </div>
  </div>

  <div class="row g-2 mb-2">
    <div class="col-12 col-md-6">
      <a href="#"
         class="wse-btn full-width height-huge"
        >
        {% trans 'button.rule.add' %}
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_rule_list' %}
         class="wse-btn full-width height-huge"
        >
        {% trans 'button.rule.list.user' %}
      </a>
    </div>
  </div>

  <div class="row g-2 mb-2">
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_rule_list_mentor' %}
         class="wse-btn full-width height-huge"
        >
        {% trans 'button.rule.list.mentor' %}
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_rule_list_student' %}
         class="wse-btn full-width height-huge"
        >
        {% trans 'button.rule.list.student' %}
      </a>
    </div>
  </div>
</main>
{% endblock content %}