{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "lang.english.rule.page.index.title" %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "lang.english.rule.page.index.header" as header %}
  {% include "components/header_block.html" with header=header %}

  <div class="row g-2 mb-2">
    {# Goto rule list #}
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_rule_list' %}
         class="wse-btn full-width height-huge"
        >
        {% trans 'button.rule.list.user' %}
      </a>
    </div>
    {# Goto rule assignation list #}
    <div class="col-12 col-md-6">
      <a href="#"
         class="wse-btn full-width height-huge"
        >
        {% trans 'button.rule.list.student' %}
      </a>
    </div>
  </div>
</main>
{% endblock content %}