{# Student's assigned calculation exercises table partial template #}

{% load i18n %}

<div id="table-form-block" class="table-responsive">
  <!--=== Table ===-->
  <table class="table table-hover">
    <thead>
      <th>{% trans "Exercise name" %}</th>
      <th>{% trans "Mentor" %}</th>
      <th>{% trans "exercise.availability.count" %}</th>
      <th>{% trans "exercise.availability.success" %}</th>
      <th>{% trans "exercise.reward.amount" %}</th>
      <th>{% trans "exercise.reward.type" %}</th>
      <th>{% trans "exercise.availability.period" %}</th>
      <th>{% trans "exercise.availability.is_completed" %}</th>
      <th>{% trans "exercise.availability.is_active" %}</th>
    </thead>
    <tbody>
      {% for exercise in exercises %}
        <tr id="row-{{ exercise.pk }}"
            class="align-middle">
          <td class="py-3">
            <a href="{% url "math:student_calculation_exercise" exercise.pk %}">
              {{ exercise.calculation_condition }}
            </a>
          </td>
          <td>{{ exercise.mentorship.mentor }}</td>
          <td>{{ exercise.availability_count }}</td>
          <td>{{ exercise.availability_success }}</td>
          <td>{{ exercise.reward_amount }}</td>
          <td>{{ exercise.reward_type }}</td>
          <td>{{ exercise.availability_period }}</td>
          <td>{{ exercise.is_completed }}</td>
          <td>{{ exercise.is_active }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table><!-- End Table -->

  {# Pagination #}
  {% include 'components/pagination.html' %}
</div>