<div>
  <h2>Наставничество</h2>
  <!-- Mentors -->
  <h5>Ваши наставники:</h5>
  <ul class="list-unstyled">
    {% for mentorship in mentorship_mentors %}
      <li>
        {{ mentorship.mentor_name }}
        <form action="{% url 'users:delete_mentorship_mentor' mentorship.id %}"
              method="post" style="display: inline">{% csrf_token %}
          <input value="Отказаться" type="submit" name="add" class="btn btn-outline-primary btn-sm m-1">
        </form>
      </li>
    {% endfor %}
    <li>
      <a href="{% url 'users:send_mentorship_request' %}"
         class="btn btn-outline-primary btn-sm m-1"
         type="button">Добавить наставника</a>
    </li>
  </ul>
  <!-- End Mentors -->
  <!-- Students -->
  {% if mentorship_students %}
    <h5>Вы являетесь наставником пользователей:</h5>
    <ul class="list-unstyled">
    {% for mentorship in mentorship_students %}
      <li>
        {{ mentorship.student_name }}
        <form action="{% url 'users:add_exercise' mentorship.student_pk %}"
              method="post" style="display: inline">{% csrf_token %}
          <input value="Добавить задание" type="submit" name="add" class="btn btn-outline-primary btn-sm m-1">
        </form>
        <form action="{% url 'users:delete_mentorship_by_student' mentorship.id %}"
              method="post" style="display: inline">{% csrf_token %}
          <input value="Отказаться" type="submit" name="add" class="btn btn-outline-primary btn-sm m-1">
        </form>
      </li>
    {% endfor %}
    </ul>
  {% endif %}
  <!-- End Students -->

  <!-- Mentorship Request -->
  {% if mentorship_request_mentors %}
    <h5>Отправлены заявки на наставничество:</h5>
    <ul class="list-unstyled">
      {% for request in mentorship_request_mentors %}
        <li class="py-1">
          К {{ request.mentor_name }}
          <form action="{% url 'users:delete_mentorship_request_to_mentor' request.request_pk %}"
                method="post" style="display: inline">{% csrf_token %}
            <input value="Отозвать" type="submit" name="add" class="btn btn-outline-primary btn-sm m-1">
          </form>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% if mentorship_request_students %}
  <h5>Получены заявки на наставничество:</h5>
  <ul class="list-unstyled">
    {% for request in mentorship_request_students %}
      <li class="py-1">
        От {{ request.student_name }}
        <form action="{% url 'users:accept_mentorship_request' request.request_pk %}"
              method="post" style="display: inline">{% csrf_token %}
          <input value="Принять" type="submit" name="add" class="btn btn-outline-primary btn-sm m-1">
        </form>
        <form action="{% url 'users:delete_mentorship_request_by_mentor' request.request_pk %}"
              method="post" style="display: inline">{% csrf_token %}
          <input value="Отклонить" type="submit" name="add" class="btn btn-outline-primary btn-sm m-1">
        </form>
      </li>
    {% endfor %}
  </ul>
  {% endif %}
  <!-- End Mentorship Request -->
</div>