<!--======= Mark translation =======-->
<div id="knowledge-block" class="row g-2 mt-0 mb-2">

  <div class="col-12 col-md-6">
    <button
        id="known-button"
        class="wse-btn full-width height-huge"
        hx-post="{{ progress.known_url }}"
        hx-vals="{{ progress.known_payload }}"
        hx-trigger="click"
        hx-on:htmx:after-request="
          event.detail.successful 
            ? appLogger.info('Progress updated') 
            : appLogger.error('Progress not updated')"
    >
        Знаю
    </button>
  </div>

  <div class="col-12 col-md-6">
    <button
        id="unknown-button"
        class="wse-btn full-width height-huge"
        hx-post="{{ progress.unknown_url }}"
        hx-vals="{{ progress.unknown_payload }}"
        hx-trigger="click"
        hx-on:htmx:after-request="
          event.detail.successful 
            ? appLogger.info('Progress updated') 
            : appLogger.error('Progress not updated')"
    >
        Не знаю
    </button>
  </div>
</div><!-- End Mark translation -->
