<!--======= Study settings =======-->
<div
  id="settings-block"
  {# Translation parameters #}
  data-category="{{ study_setting.category }}"
  data-mark="{{ study_setting.mark }}"
  data-source="{{ study_setting.word_source }}"
  data-start-period="{{ study_setting.start_period }}"
  data-end-period="{{ study_setting.end_period }}"
  {# Translation settings #}
  data-translation-order="{{ study_setting.translation_order }}"
  data-word-count="{{ study_setting.word_count }}"
  {# Presentation settings #}
  data-question="{{ study_setting.question_timeout }}"
  data-answer="{{ study_setting.answer_timeout }}"
  data-url="{{ study_setting.url }}"
></div><!-- End Study settings -->