  <!--======= Presentation control =======-->
  <div id="control-block">
    <div id="manage-block" class="row g-2">
      <div class="col">
        <button
          id="next-button"
          class="btn btn-outline-primary btn-lg py-4 w-100"
        >
          Следующий вопрос
        </button>
      </div>
      <div class="col">
        <button
          id="show-button"
          class="btn btn-outline-primary btn-lg py-4 w-100"
        >
          Показать
        </button>
      </div>
      <div class="col">
        <button
          id="pause-button"
          class="btn btn-outline-primary btn-lg py-4 w-100"
        >
          Пауза
        </button>
      </div>
    </div>
  </div><!-- End Presentation control -->
