<!--======= Presentation control =======-->
<div id="control-block" class="row g-2 mb-2">

  <div class="col-12 col-md-4">
    <button
      id="next-button"
      class="btn btn-outline-primary btn-huge"
    >
      Следующий вопрос
    </button>
  </div>
  
  <div class="col-12 col-md-4">
    <button
      id="show-button"
      class="btn btn-outline-primary btn-huge"
    >
      Показать
    </button>
  </div>
  
  <div class="col-12 col-md-4">
    <button
      id="pause-button"
      class="btn btn-outline-primary btn-huge"
    >
      Пауза
    </button>
  </div>
    
</div><!-- End Presentation control -->