{% extends 'base.html' %}

{% load static %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container p-0">
  <div id="header-block" class="row align-items-center py-1">
    <div class="col">
      <h1 class="mb-0">{{ header }}</h1>
    </div>
    <div class="col-auto">
      <a href="{% url 'lang:settings' %}" class="btn btn-outline-primary fw-bold">
         Настройки
      </a>
      <a href="javascript:history.back()" class="btn btn-outline-primary fw-bold">
         Назад
      </a>
    </div>
  </div>

  {% include 'lang/study/_settings.html' %}

  <div id="presentation-block">
    {% include 'lang/study/_case.html' %}
    {% include 'lang/study/_mark_bar.html' %}
  </div>

  {% include 'lang/study/control_bar.html' %}

</div>
{% endblock %}

{% block script %}
<script
  type="module"
  src="{% static 'js/lang/study/index.js' %}"
></script>
{% endblock %}
