{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!--======= Additional navigation =======-->
<div class="pb-2">
  <a href="{% url 'english:word_list' %}" class="btn btn-outline-dark btn-sm" role="button"
    >Словарь
  </a>
  <a href="https://translate.google.com/?hl=ru&sl=auto&tl=ru&text={{word.word_eng}}&op=translate" class="btn btn-outline-dark btn-sm" role="button"
    >Google
  </a>
</div><!-- End Additional Navigation -->

<div class="">{% include 'components/title.html' %}</div>

<!--======= Word Form =======-->
<div class="row cols-sm-1 row-cols-md-2 row-cols-lg-2">
  <form id="word_form">
    {% crispy form %}
  </form>
</div><!-- End Word Form -->
{% endblock %}

{% block script %}
  <!-- Ajax -->
  <script src="{% static 'english_add_word.js' %}"></script>
  <!-- End Ajax -->
{% endblock %}