<div>
  <p class="h6">Упражнения<p>
  <ul class="list-unstyled ps-3">
     <li class=""><a href="{% url 'foreign:foreign_translate_choice' %}">Упражнение "Изучаем слова"</a></li>
  </ul>
</div>

<div>
  <p class="h6">Словарь</p>
  <ul data-testid="foreign-chapters" class="list-unstyled ps-3">
    <li class="py-1"><a href="{% url 'foreign:word_list' %}">Список слов</a></li>
    <li class="py-1"><a href="{% url 'foreign:words_create' %}">Добавить слово в словарь</a></li>
    <li class="py-1"><a href="{% url 'foreign:category_list' %}">Категории</a></li>
    <li class="py-1"><a href="{% url 'foreign:source_list' %}">Источники</a></li>
  </ul>
</div>