{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  <!--======= Header =======-->
  <div class="pb-2">
    <a href="{% url 'foreign:words_create' %}" class="btn btn-outline-dark btn-sm" role="button"
      >Добавить слово
    </a>
    <a href="https://translate.google.com" class="btn btn-outline-dark btn-sm" role="button"
      >Google
    </a>
  </div>
  {% include 'components/title.html' %}
  <!-- End Header -->

  {% include 'components/words_filter.html' %}

  <!--======= Words Table =======-->
  <div class="table-responsive">
    <div class="py-3">{% include 'components/pagination.html' %}</div>
    <table class="table table-hover">

      <thead class="align-middle">
        <tr>
          <th>На иностранном языке</th>
          <th>На русском языке</th>
          <th>Оценка знания</th>
          <th>Категория</th>
          <th>Источник</th>
          <th>Добавлено</th>
          <th>Избранное</th>
        </tr>
      </thead>

      <tbody>
      {% for word in words %}
        <tr>
          <td><a href="{% url 'foreign:words_detail' word.pk %}">{{ word.foreign_word }}</a></td>
          <td>{{ word.native_word }}</td>
          <td>{% if word.assessment %}{{ word.assessment }}{% else %}-{% endif %}</td>
          <td>{% if word.category %}{{ word.category }}{% else %}-{% endif %}</td>
          <td>{% if word.source %}{{ word.source }}{% else %}-{% endif %}</td>
          <td>{{ word.created_at|date:"d/m/y" }}</td>
          <td>
            <form id="update_favorites_{{ word.pk }}" data-word-id="{{ word.pk }}" action="{% url 'foreign:word_favorites_view_ajax' word.pk %}" method="post">
              {% csrf_token %}
              <button id="favorites_button_{{ word.pk }}" type="submit" class="btn btn-outline-primary btn-sm">
                {% if word.favorites_anat %}Убрать{% else %}Добавить{% endif %}
              </button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </tbody>

    </table><!-- End Words Table -->
    {% include 'components/pagination.html' %}
    {% include 'components/btn_back.html' %}
  </div>
{% endblock %}

{% block script %}
  <!-- Ajax Update Favorites Word -->
  <script src="{% static 'js/favorites_at_word_list.js' %}"></script>
  <!-- End Ajax Update Favorites Word -->
{% endblock script %}