{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container p-0">

  <div class="row align-items-start py-1">
    <div class="col">
      <h1 class="mb-0">{{ header }}</h1>
    </div>
    <div class="col-auto">
      <a href="javascript:history.back()" class="wse-btn">
         Назад
      </a>
    </div>
  </div>

  <div>
    <form method="post">{% csrf_token %}
      {% crispy form %}
    </form>
  </div>

</div>


{% endblock %}