{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "lang.english.page.index.title" %}{% endblock title %}

{% block content %}
<main class="container">
  <div id="header-block" class="row py-3">
    {# Page header #}
    <div class="col">
      <h1>{% trans "lang.english.page.index.header" %}</h1>
    </div>
    {# Back button #}
    <div class="col-auto">
      <a href="javascript:history.back()" class="wse-btn">
        {% trans 'button.back' %}
      </a>
    </div>
  </div>

  <div class="row g-2 mb-2">
    {# Exercises for self-education #}
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_mentor_exercises' %} class="wse-btn full-width height-huge">
        {% trans 'button.title.exercises' %}
      </a>
    </div>
    {# Assignments from mentors #}
    <div class="col-12 col-md-6">
      {# HACK: Update url #}
      <a href={% url 'lang:english_tasks' %} class="wse-btn full-width height-huge">
        {% trans 'button.title.assignments' %}
      </a>
    </div>
  </div>

  <div class="row g-2 mb-2">
    {# English rules #}
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_rule' %} class="wse-btn full-width height-huge">
        {% trans 'button.title.rules.index' %}
      </a>
    </div>
    {# English translations #}
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_translation_index' %} class="wse-btn full-width height-huge">
        {% trans 'button.title.translation.index' %}
      </a>
    </div>
  </div>

  <div class="row g-2 mb-2">
    {# Marks #}
    <div class="col-12 col-md-6">
      <a href={% url 'lang:mark_list' %} class="wse-btn full-width height-huge">
        {% trans 'button.mark' %}
      </a>
    </div>
    {# Categories #}
    <div class="col-12 col-md-6">
      <a href={% url 'lang:category_list' %} class="wse-btn full-width height-huge">
        {% trans 'button.category' %}
      </a>
    </div>
  </div>

</main>
{% endblock %}