{% extends 'base.html' %}

{% block title %}Английский словарь{% endblock %}

{% block content %}
<h1>Английский словарь</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>На английском</th>  
      <th>На родном</th>  
    </tr>    
  </thead>

  <tbody>
  {% for translation in translations %}
    <tr>
      <td>{{ translation.english }}</td>
      <td>{{ translation.native }}</td>
    </tr>
  {% empty %}
    <p>Переводы еще не добавлены.</p>
  {% endfor %}
  </tbody>
</table>

<div class="mb-3">
    <a href="javascript:history.back()" class="btn btn-secondary">Назад</a>
</div>
{% include 'components/pagination.html' %}
{% endblock %}