{% extends 'base.html' %} 

{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="container p-0">
  <h1>{{ header }}</h1>

  <div
    id="update-presentation"
    hx-get="/lang/translation/english/study/case/"
    hx-target="#presentation-block"
    hx-trigger="load"
  ></div>

  <div id="presentation-block">
    {% include 'lang/presentation/partial.html' %}
  </div>

  <!--======= Presentation control =======-->
  <div id="control-block">
    <div id="knowledge-block" class="row g-2 mt-0 mb-2">
      <div class="col">
        <button
          id="known-button"
          class="btn btn-outline-primary btn-lg py-4 w-100"
        >
          Знаю
        </button>
      </div>
      <div class="col">
        <button
          id="unknown-button"
          class="btn btn-outline-primary btn-lg py-4 w-100"
        >
          Не знаю
        </button>
      </div>
    </div>

    <div id="manage-block" class="row g-2">
      <div class="col">
        <button
          id="next-button"
          class="btn btn-outline-primary btn-lg py-4 w-100"
        >
          Следующий вопрос
        </button>
      </div>
      <div class="col">
        <button
          id="show-button"
          class="btn btn-outline-primary btn-lg py-4 w-100"
        >
          Показать
        </button>
      </div>
      <div class="col">
        <button
          id="pause-button"
          class="btn btn-outline-primary btn-lg py-4 w-100"
        >
          Пауза
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script
  type="module"
  src="{% static 'js/translation_presentation.js' %}"
></script>
{% endblock %}
