# Distribution / packaging
.venv_wselfedu/
build/

# Local test configuraion
test_config.yml

# Temporary files
temp/

# Byte-compiled
db.sqlite3
*__pycache__

# IntelliJ Idea family of suites
.idea/

# WSE log files
logs/

# Secret value fails
.env
.env_db
create_db.sql
sensitive/