target-version = "py310"
line-length = 79
exclude = [
    ".github/*",
    ".idea/*",
    ".venv*",
    "docs/*",
    "*/migrations/*.py",
]

[lint.per-file-ignores]
"*/interfaces/*.py" = [
    "D101",     # undocumented public class definitions
    "D102",     # undocumented public method definitions
    "D204",     # class methods are not separated from the class's docstring
    "E301",     # missing blank lines between methods of a class
    "E302"      # missing blank lines between top level functions and classes
]
"settings.py" = [
    "E501"      # lines exceed the specified maximum character length
]

[lint]
preview = true  # checks will include unstable rules and fixes
select = [
    "F",    # pyflakes: https://pypi.org/project/pyflakes/
    "E",    # pycodestyle: Error; pycodestyle: https://pypi.org/project/pycodestyle/
    "W",    # pycodestyle: Warning
    "I",    # isort: https://pypi.org/project/isort/
    "N",    # pep8-naming: https://pypi.org/project/pep8-naming/
    "D",    # pydocstyle: https://pypi.org/project/pydocstyle/
    "B",    # flake8-bugbear: https://pypi.org/project/flake8-bugbear/
    "C90",  # mccabe: https://pypi.org/project/mccabe/
    "ANN",  # flake8-annotations: https://pypi.org/project/flake8-annotations/
    "Q",    # flake8-quotes: https://pypi.org/project/flake8-quotes/
]
ignore = [
    "D203",     # 1 blank line required before class docstring
    "D211",     # No blank lines allowed before class docstring
    "D213",     # Multi-line docstring summary should start at the second line
    "D416",     # Section name should end with a colon
]

[lint.flake8-quotes]
inline-quotes = "single"

[format]
quote-style = "single"

[lint.pycodestyle]
max-doc-length = 72