django==4.2.14
django-bootstrap5==24.2
django-filter==24.2
django-jsonview==2.0.0
django-extensions==3.2.3
django-crispy-forms==2.1
crispy-bootstrap5==2024.2
psycopg2-binary==2.9.9
gunicorn==22.0.0
python-dotenv==1.0.1
