{% extends 'base.html' %}

{% block content %}
<div class="card bg-light">

  <div class="card-header">
    <h1>{{ title }}</h1>
  </div>

  <div class="card-body">

    <div class="card-title">
      <h5>Упражнения</h5>
      <ul class="list-unstyled ps-3">
        <li class="py-1"><a href="{% url 'eng:start_repetition' %}">Повторить слова</a></li>
      </ul>
    </div>

    <div>
      <h5>Словарь</h5>
      <ul class="list-unstyled ps-3">
          <li class="py-1"><a href="{% url 'eng:word_list' %}">Список слов</a></li>
        {% if user.is_superuser %}
          <li class="py-1"><a href="{% url 'eng:word_create' %}">Добавить слово</a></li>
        {% endif %}
      </ul>
    </div>

  </div>
</div>
{% endblock %}