{% extends 'base.html' %}

{% block content %}
<div class="card bg-light">

  <!--======= Header =======-->
  <div class="card-header">
    <h2 class="text-center pt-2">{{ title }}</h2>
    <p class="h4"><a href="{% url 'eng:lesson_create' %}">Добавить урок</a></p>
  </div><!-- End Header -->

  {% include 'components/pagination.html' %}

  <!--======= Lessons Table =======-->
  <div class="table-responsive">
    <table class="table table-striped table-hover table-info">

      <thead class="table-primary">
        <tr>
          <th>ID</th>
          <th>Урок</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
      {% for lesson in lessons %}
        <tr>
          <td class="table-primary">{{ lesson.pk }}</td>
          <td>{{ lesson.name }}</td>
          <td>
            <a href="{% url 'eng:lesson_update' lesson.pk %}">Изменить</a> /
            <a href="{% url 'eng:lesson_delete' lesson.pk %}">Удалить</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>

    </table>
  </div><!-- End Lessons Table -->

  {% include 'components/pagination.html' %}
  {% include 'components/back_btn.html' %}

</div>
{% endblock %}