{# Calculation exercise performing page #}

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "math.page.calculation.index.title" %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "math.page.calculation.index.header" as header %}
  {% include "components/header_block.html" with header=header %}

  {% if request.resolver_match.url_name == 'student_calculation_exercise' %}
    {% trans "user_profile.balance" %}: <span id="user-balance">{{ user.balance }}</span>
  {% endif %}

  <div>
    {% trans "exercise.completion.progress" %}: <span id="exercise-completion-progress">{{ exercise.completion_progress }}</span>
  </div>

  {# Target to insert exercise case html or partial template #}
  <div id="exercise-block">
    {{ exercise_case_html }}
  </div>
  
</main>
{% endblock %}