{# Calculation exercise performing page #}

{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans "math.page.calculation.index.title" %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "math.page.calculation.index.header" as header %}
  {% include "components/header_block.html" with header=header %}

  {# Target to insert exercise case html or partial template #}
  <div id="exercise-block">
    {{ exercise_case_html }}
  </div>
  
</main>
{% endblock %}