/* Icons */

.fa-icon {
    font-size: 1.2em;
    margin: 0 5px;
}

.fa-trash { 
    color: #dc3545; 
}

.fa-edit { 
    color: #0d6efd; 
}

.fa-graduation-cap { 
    color: #28aa8e; 
}

.fa-clipboard-check { 
    color: #25e736; 
}