{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<div class="">
  {% include 'components/additional_word_navigation.html' %}
  {% include 'components/card_title.html' %}

  <!-- Display word choices -->
  <div class="pb-2">
    <p id="knowledge_assessment" class="" style="display: inline">Уровень: {{ knowledge_assessment }}. </p>
    <p id="word_count" class="" style="display: inline">Выбрано слов: {{ task.word_count }}. </p>
    <p id="source" class="" style="display: inline">Источник: {{ task.source }}</p>
  </div><!-- End Display word choices -->

  <!-- Buttons user rating of word knowledge -->
  <div class="pb-2" style="display: inline-block;">
    <form id="knowledge_action_url" action="{{task.knowledge_action_url}}" method="post">
      {% csrf_token %}
      <button class="btn btn-outline-primary btn-sm" name="action" value="-1" style="width:110px">Не знаю</button>
      <button class="btn btn-outline-primary btn-sm mx-2" name="action" value="+1" style="width:110px">Знаю</button>
    </form>
  </div><!-- End Buttons user rating of word knowledge -->

  <!-- Next -->
  <div id="next_task_step_div" style="display: inline-block;">
    <button id="next_task_step" class="btn btn-outline-primary btn-sm" name="action" value="next" style="width:110px">Далее</button>
  </div><!-- End Next -->

  <!-- Button word favorites status change -->
  <div class="">
    <form id="update_favorites" action="{% url 'english:word_favorites_view_ajax' task.word_id %}" method="post">
      {% csrf_token %}
      <button id="favorites_button" type="submit" class="btn btn-outline-primary btn-sm text-nowrap">
        {% if favorites_status %}Добавить в избранные{% else %}Добавить в избранные{% endif %}
      </button>
    </form>
  </div><!-- End Button word favorites status change -->

  <!--======= Solution =======-->
  <div class="pt-2">
    <h6 class="mb-3">Вопрос:</h6>
    <h4 style="line-height: 1.4">
      <a href="{% url 'english:words_update' task.word_id %}"><mark id="task_question">
        {{ task.question }}
      </mark></a>
    </h4>

    <h6 class="mb-3">Ответ:</h6>
    <h4 style="line-height: 1.4"><mark id="task_answer" style="display: none">
      {{ task.answer }}
    </mark></h4>
  </div><!-- End Solution -->
</div>
{% endblock %}

{% block script %}
  <!-- Ajax Update Favorites Word -->
  <script src="{% static 'task_word.js' %}"></script>
  <!-- End Ajax Update Favorites Word -->
{% endblock script %}