{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="">
  <!-- Additional Navigation -->
  <div class="">
    <a class="h5 pe-2" href="{% url 'english:word_list' %}">Словарь</a>
    <a class="h5 pe-2" href="{% url 'english:words_create' %}">Добавить</a>
    <!-- Link to the Google translater -->
    <a class="h5" href="https://translate.google.com/?hl=ru&sl=auto&tl=ru&text={{task.word_eng}}&op=translate">Google</a><!-- Ebd Link to the Google translater -->
  </div><!-- End Additional Navigation -->

  <!-- Title -->
  {% include 'components/card_title.html' %}
  <!-- End Title -->

  <!-- Display word choices -->
  <div class="">
    <p class="">Уровень: {{ knowledge_assessment }}. Выбрано слов: {{ task.word_count }}. Источник: {{ task.source }}</p>
  </div>
  <!-- End Display word choices -->

  <!-- Buttons user rating of word knowledge -->
  {% if user.is_authenticated %}
    <div class="pb-2 px-2 row-cols-md-2 row-cols-lg-4">
      <form action="{% url 'english:knowledge_assessment' task.word_id %}" method="post">
        {% csrf_token %}
        <div class="row">
          <button class="col btn d-inline mx-1 bg-primary text-white" name="knowledge_assessment" value="-1" style="height:40px; width:80px">Не знаю</button>
          <button class="col btn d-inline mx-1 bg-primary text-white" name="knowledge_assessment" value="+1" style="height:40px; width:80px">Знаю</button>
          <!-- Button "Next" -->
            {% if task_status == 'question' or task_status == 'start' %}
              <a class="col btn d-inline mx-1 bg-primary text-white" style="height:40px; width:80px" href="{% url next_url 'answer' %}">Далее</a>
            {% else %}
              <a class="col btn d-inline mx-1 bg-primary text-white" style="height:40px; width:80px" href="{% url next_url 'question' %}">Далее</a>
            {% endif %}
          <!- End- Button "Next" -->
        </div>
      </form>
    </div>
  {% endif %}
  <!-- End Buttons user rating of word knowledge -->

  <div class="row">
    <!-- Button word favorites status change -->
    <div class="=col d-inline">
    {% if user.is_authenticated %}
      <div class="py-2">
        <form action="{% url 'english:words_favorites_view' task.word_id %}" method="post">
          {% csrf_token %}
          {% if favorites_status %}
            <button class="btn bg-primary text-white" name="favorites_action" value="remove" style="">Убрать из избранного</button>
          {% else %}
            <button class="btn bg-primary text-white" name="favorites_action" value="add" style="">Добавить в избранное</button>
          {% endif %}
        </form>
      </div>
    {% endif %}
    </div>
  </div>

  <!--======= Solution =======-->
  <div class="pt-2">
    <h6 class="mb-3">Вопрос:</h6>
    <h4 style="line-height:1.4">
      {% if user.is_authenticated %}
        <a href="{% url 'english:words_update' task.word_id %}"><mark>{{ task.question }}</mark></a>
      {% else %}
        <mark>{{ task.question }}</mark>
      {% endif %}
    </h4>

    <h6 class="mb-3">Ответ:</h6>
    <h4 style="line-height:1.4"><mark>
      {% if task_status == 'answer' %}
        {{ task.answer }}
      {% endif %}
    </mark></h4>
  </div><!-- End Solution -->
</div>

{% include 'components/jscripts/timeout_jscript.html' %}
{% endblock %}
