{# Mathematical index page #}

{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "math.page.index.title" %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "math.page.index.header" as header %}
  {% include "components/header_block.html" with header=header %}

  <div class="row g-2 mb-2">
    <div class="col-12 col-md-6">
      {# Calculation exercises navigate button #}
      <a class="wse-btn full-width height-huge"
         href="{% url 'math:math_exercises' %}">
        {% trans 'button.math.exercises' %}
      <a>
    </div>
    <div class="col-12 col-md-6 d-none d-md-block">
      <span>{# Empty space for alignment #}</span>
    </div>
  </div>
</main>
{% endblock %}