{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Настройки изучения{% endblock %}

{% block content %}
<main class="container p-0">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            
            <!--======= Header =======-->
            <div class="mb-4">
                <div id="header-block" class="row align-items-center py-1">
                    <div class="col">
                    <h1 class="mb-0">{{ header }}</h1>
                    </div>
                    <div class="col-auto">
                    <a href="{% url 'lang:translation_english_study' %}" class="wse-btn">
                        Упражнение
                    </a>
                    <a href="javascript:history.back()" class="wse-btn">
                        Назад
                    </a>
                    </div>
                </div>

                <p class="text-muted">
                    Настройте параметры подбора слов, изучения и презентации
                </p>
            </div><!-- End Header-->
            
            <!--======= Common form =======-->
            {% include 'lang/settings/formset.html' %}
            <!-- End Common form -->
            
        </div>
    </div>
</main>
{% endblock %}