{% extends 'base.html' %}

{% load django_bootstrap5 %}

{% block content %}
<div class="">
  <!-- Additional Navigation -->
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
    <a class="col h5" href="{% url 'eng:word_list' %}">Словарь</a>
    <a class="col h5" href="{% url 'eng:word_create' %}">Добавить</a>
  </div><!-- End Additional Navigation -->

  {% include 'components/card_title.html' %}

  <!-- Show selected word criteria -->
  <div class="card-header">
    <p class="h6">Категория: {{ category }}</p>
    <p class="h6">Источник: {{ source }}</p>
  </div><!-- End Show selected word criteria -->

  <!--======= Solution =======-->
  <div class="">
    <h3 class="mb-3">Вопрос:</h3>
    <h4><mark>{{ task.question }}</mark></h4>

    <h3 class="mb-3">Ответ:</h3>
    <h4><mark>
      {% if task_status == 'answer' %}
        {{ task.answer }}
      {% endif %}
    </mark></h4>
  </div><!-- End Solution -->

</div>
{% include 'components/jscripts/timeout_jscript.html' %}
{% endblock %}