{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="">
  <!-- Additional Navigation -->
  <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-6">
    <a class="col h5" href="{% url 'eng:word_list' %}">Словарь</a>
    <a class="col h5" href="{% url 'eng:word_create' %}">Добавить</a>
  </div><!-- End Additional Navigation -->

  {% include 'components/card_title.html' %}

  <!-- User rating of word knowledge -->
  {% if user.is_authenticated %}
    <div class="">
      <form action="{% url 'eng:knowledge_assessment' task.word_id %}" method="post">
        <div class="row">
          {% csrf_token %}
          <p class="col d-inline mx-1" >Уровень: {{ knowledge_assessment }}</p>
          <button class="col d-inline mx-1 bg-primary text-white" name="knowledge_assessment" value="+1" style="height:30px; width:80px">Знаю</button>
          <button class="col d-inline mx-1 bg-primary text-white" name="knowledge_assessment" value="-1" style="height:30px; width:80px">Не знаю</button>
        </div>
      </form>
    </div>
  {% endif %}
  <!-- End User rating of word knowledge -->

  <!--======= Solution =======-->
  <div class="">
    <h3 class="mb-3">Вопрос:</h3>
    <h4><mark>{{ task.question }}</mark></h4>

    <h3 class="mb-3">Ответ:</h3>
    <h4><mark>
      {% if task_status == 'answer' %}
        {{ task.answer }}
      {% endif %}
    </mark></h4>
  </div><!-- End Solution -->
</div>

{% include 'components/jscripts/timeout_jscript.html' %}
{% endblock %}