{% extends 'base.html' %}

{% block content %}
<div class="">

  {% include 'components/card_title.html' %}

  <div class="card-body">
    <form action="{% url 'eng:repetition' task_status %}" method="get">
      {% csrf_token %}

      <!-- Word category choice -->
      <div class="pb-3">
        <p class="h5">Выбери категорию</p>
        <select class="form-select" name="selected_category">
          <option value="{{ default_category_id }}" selected>{{ default_category }}</option>
          {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
          {% endfor %}
        </select>
      </div><!-- End Word category choice -->

      <!-- Word source choice -->
      <div class="pb-3">
        <p class="h5">Выбери источник</p>
        <select class="form-select" name="selected_source">
          <option value="{{ default_source_id }}" selected>{{ default_source }}</option>
          {% for source in sources %}
            <option value="{{ source.id }}">{{ source.name }}</option>
          {% endfor %}
        </select>
      </div><!-- End Word source choice -->

      <!-- Study stage choice -->
      <div class="pb-3">
        <p class="h5">Выбери этап изучения слов</p>
        <select class="form-select" name="selected_stage">
          <option value="{{ ... }}" selected>{{ ... }}</option>
          {% for source in sources %}
            <option value="{{ ... }}">{{ ... }}</option>
          {% endfor %}
        </select>
      </div><!-- End Study stage choice -->

      <!-- Checkbox word count choice -->
      <fieldset class="form-checkpb-2">
        <legend>Выбери количество слов</legend>
        <div class="form-check form-check-inline">
          <div>
            <input class="form-check-input" type="checkbox" name="choice_word_count" value="OW" checked />
            <label class="form-check-label">Слово</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="choice_word_count" value="CB" checked />
            <label class="form-check-label">Словосочетание</label>
          </div>
        </div>
        <div class="form-check form-check-inline">
          <div>
            <input class="form-check-input" type="checkbox" name="choice_word_count" value="PS" />
            <label class="form-check-label">Часть предложения</label>
          </div>
          <div>
            <input class="form-check-input" type="checkbox" name="choice_word_count" value="CT" />
            <label class="form-check-label">Предложение</label>
          </div>
        </div>
      </fieldset><!-- End Checkbox word count choice-->

      <!-- Checkbox word knowledge assessment -->
      <fieldset class="pb-2">
        <legend>Выбери уровень знания слов</legend>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="choice_knowledge assessment" value="WS" checked />
          <label class="form-check-label">Изучение</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="choice_knowledge assessment" value="CK"  />
          <label class="form-check-label">Повторение</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" name="choice_knowledge assessment" value="CH" />
          <label class="form-check-label">Проверка</label>
        </div>
      </fieldset><!-- End Checkbox word knowledge assessment-->

      <!-- Confirm selection button -->
      <div class="">
        <button class="btn btn-primary">{{ btn_name }}</button>
      </div><!-- End Confirm selection button -->
    </form>
  </div>
</div>
{% endblock %}