{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'lang.page.translation.test.title' %}{% endblock title %}

{% block content %}
<main class="container">
  <div id="header-block" class="row align-items-start py-1">
    <div class="col">
      <h1 class="mb-0">{% trans 'lang.page.translation.test.header' %}</h1>
    </div>
    <div class="col-auto">
      <a href="{% url 'lang:settings' %}" class="wse-btn">
         Настройки
      </a>
      <a href="javascript:history.back()" class="wse-btn">
         Назад
      </a>
    </div>
  </div>

  {% include 'lang/test/_settings.html' %}

  {# Target to insert 'Translation test exercise' partial template #}
  <div id="test-block"></div>

</main>
{% endblock content %}

{% block script %}
<script
  type="module"
  src="{% static 'js/lang/test/index.js' %}"
></script>
{% endblock script %}
