{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
  {% include 'components/additional_word_navigation.html' %}

  <a href="{% url 'task:english_translate_choice' %}">
    {% include 'components/title.html' %}
  </a>

  <!-- Display Task Info -->
  <div class="pb-2">
    <p id="knowledge_assessment" class="" style="display: inline"></p>
    <p id="word_count" class="" style="display: inline"></p>
  </div><!-- End Display Task Info -->

  <!-- Button Rows -->
  <div>
    <!-- Button word favorites status change -->
    <div class="" style="display: inline-block;">
      <form id="update_favorites" action="#" method="post">
        {% csrf_token %}
        <button id="favorites_button" type="submit" class="btn btn-outline-primary btn-sm text-nowrap">#</button>
      </form>
    </div><!-- End Button word favorites status change -->

    <!-- Pause Button -->
    <div class="px-2" style="display: inline-block;">
      <button id="pause" class="btn btn-outline-primary btn-sm" style="width:110px">Пауза</button>
    </div><!-- End Pause Button -->
  </div>  <!-- End Button Row -->

  <!-- Button Row -->
  <div class="pt-2">
    <!-- Buttons user rating of word knowledge -->
    <div class="pb-2" style="display: inline-block;">
      <button id="knowledge_down" class="btn btn-outline-primary btn-sm" name="assessment" value="-1" style="width:110px">Не знаю</button>
    </div>
    <div class="pb-2" style="display: inline-block;">
      <button id="knowledge_up" class="btn btn-outline-primary btn-sm mx-2" name="assessment" value="+1" style="width:110px">Знаю</button>
    </div><!-- End Buttons user rating of word knowledge -->

    <!-- Next -->
    <div id="next_task_step_div" style="display: inline-block;">
      <button id="next_task_step" class="btn btn-outline-primary btn-sm" name="action" value="next" style="width:110px">Далее</button>
    </div><!-- End Next -->
  </div><!-- End Button Row -->

  <!--======= Solution =======-->
  <div class="pt-2">
    <h6 class="mb-3">Вопрос:</h6>
    <h4 style="line-height: 1.4">
      <mark id="question_text"></mark>
    </h4>

    <h6 class="mb-3">Ответ:</h6>
    <h4 style="line-height: 1.4">
      <mark id="answer_text" style="display: none"></mark>
    </h4>
  </div><!-- End Solution -->
{% endblock %}

{% block script %}
  <!-- Load static files -->
  <script type="module" src="{% static 'english_translate_demo.js' %}"></script><!-- End Load static files -->
{% endblock %}