{% extends 'base.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Настройки изучения{% endblock %}

{% block content %}
<main class="container p-0">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            
            <!--======= Header =======-->
            <div class="mb-4">
                {% include "components/header_block.html" with header=header %}

                <p class="text-muted">
                    Настройте параметры подбора слов, изучения и презентации
                </p>
            </div><!-- End Header-->
            
            <!--======= Common form =======-->
            {% include 'lang/exercise/settings/formset.html' %}
            <!-- End Common form -->
            
        </div>
    </div>
</main>
{% endblock %}