{% load crispy_forms_tags %}

<!--======= Filters For Words =======-->
<form class="" method="get">
  <div class="row row-cols-1 row-cols-sm-3 row-cols-md-4 row-cols-lg-6">
    <div class="col">
      {{ filter.form.search_word|as_crispy_field }}
    </div>
    <div class="col">
      {{ filter.form.filtered_category|as_crispy_field }}
    </div>
    <div class="col">
      {{ filter.form.filtered_source|as_crispy_field }}
    </div>
    <div class="col">
      {{ filter.form.filtered_study_stage|as_crispy_field }}
    </div>
  </div>
  <div class="row">
    <div class="col">
      {{ filter.form.only_favorite_words|as_crispy_field }}
    </div>
    <div class="col">
      <button class="btn btn-primary" type="submit">Поиск</button>
    </div>
  </div>
</form><!-- End Filters For Words -->