# Defines configuration for test`s utilit

# Test with SQL query report utilit configuration

# Include tests (`test_name` methods)
include_tests:
  - test_create_task

# Report contents (add `true` to include)
include_sql_query: true
include_test_time: true
include_test_name: true

# The console output style

# Divider style
divider_dash_char: '='
divider_length: 60
outer_divider_color: magenta
bottom_outer_divider: true

# Text color (uses 'rich' library style)
# https://rich.readthedocs.io/en/stable/index.html
no_color: default
title_color: blue
sql_color: default
time_color: light_green
savepoint_color: yellow
