# Defines configuration for test`s utilit

# Test with SQL query report utilit configuration

# Report contents (add `true` to include)
include_sql_query: true
include_test_time:

# The console output style
# Divider style
divider_dash_char: '='
divider_length: 60
outer_divider_color: magenta
bottom_outer_divider: true

# Text color
no_color: null
title_color: blue
sql_color: null
time_color: light_green
savepoint_color: yellow
