  <!-- Additional Navigation -->
  <div class="pb-2">
    <a href="{% url 'english:word_list' %}"
       class="btn btn-outline-dark btn-sm"
       role="button"
    >Словарь
    </a>
    <a href="{% url 'english:words_create' %}"
       class="btn btn-outline-dark btn-sm"
       role="button"
    >Добавить слово
    </a>
    <a href="https://translate.google.com/?hl=ru&sl=auto&tl=ru&text={{task.word_eng}}&op=translate"
       class="btn btn-outline-dark btn-sm"
       role="button"
    >Google
    </a>
  </div><!-- End Additional Navigation -->