  <!-- Additional Navigation -->
  <div class="pb-2">
    <a href="{% url 'english:word_list' %}"
       class="btn btn-outline-dark btn-sm"
       role="button"
    >Словарь
    </a>
    <a href="{% url 'english:words_create' %}"
       class="btn btn-outline-dark btn-sm"
       role="button"
    >Добавить слово
    </a>
    <a id="google-translate" href="{{task.google_translate_word_link}}"
       class="btn btn-outline-dark btn-sm"
       role="button"
    >Google
    </a>
  </div><!-- End Additional Navigation -->
