{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<!--======= Additional Navigation =======-->
<div class="pb-2">
  <a href="{% url 'glossary:source_create' %}" class="btn btn-outline-dark btn-sm" role="button">Добавить источник</a>
</div><!-- End Additional Navigation -->

{% include 'components/title.html' %}

<!--======= Categories Table =======-->
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Наименование источника</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    {% for source in sources %}
      <tr>
        <td>{{ source.name }}</td>
        <td class="">
          <span class="pe-4"><a href="{% url 'glossary:source_update' source.pk %}">{% include 'icons/pencil.svg' %}</a></span>
          <span class=""><a href="{% url 'glossary:source_delete' source.pk %}">{% include 'icons/basket.svg' %}</a></span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div><!-- End Categories Table -->

<!--======= Navigation Buttons =======-->
{% include 'components/btn_back.html' %}<!-- End Navigation Buttons -->
{% endblock %}