{% extends 'base.html' %}

{% block content %}
<h6>Термин:</h6>
<p>{{ term.term }}</p>
<h6>Перевод:</h6>
<p>{% if term.translate %}{{ term.translate }}{% else %}-{% endif %}</p>
<h6>Определение:</h6>
<p>{% if term.definition %}{{ term.definition }}{% else %}-{% endif %}</p>
<h6>Толкование:</h6>
<p>{% if term.interpretation %}{{ term.interpretation }}{% else %}-{% endif %}</p>
<h6>Пример:</h6>
<p>{% if term.interpretation %}{{ term.example }}{% else %}-{% endif %}</p>
<h6>url:</h6>
<p>{% if term.interpretation %}{{ term.url }}{% else %}-{% endif %}</p>
<div class="row">
  <section class="col">
    <h6>Категория:</h6>
    <p>{% if term.category %}{{ term.category }}{% else %}-{% endif %}</p>
  </section>
  <section class="col">
    <h6>Источник:</h6>
    <p>{% if term.source %}{{ term.source }}{% else %}-{% endif %}</p>
  </section>
</div>
<div class="row">
  <section class="col">
    <h6>Оценка знания:</h6>
    <p>{{ term.progress }}</p>
  </section>
  <section class="col">
    <h6>Добавлен:</h6>
    <p>{{ term.created_at }}</p>
  </section>
</div>
<!--======= Buttons =======-->
<div class="pt-1">
  <a class="btn btn-outline-primary btn-sm" href="{% url 'glossary:term_update' term.pk %}" role="button"
    >Изменить
  </a>
  <a class="btn btn-outline-danger btn-sm ms-1" href="{% url 'glossary:term_delete' term.pk %}" role="button"
    >Удалить
  </a>
  {% include 'components/btn_back.html' %}
</div><!-- End Buttons -->
{% endblock %}