{% load i18n %}

<!--=== Button row ====-->
{# Rule clause buttons #}
<div class="row gap-2 mb-2">

  {# Assign rule study to student #}
  <a class="wse-btn"
     href={% url 'lang:english_rule_assignment_create' rule.id %}
    >
      {% trans 'button.assign' %}
  </a>

  {# Create rule clause #}
  <button class="wse-btn"
          hx-get={% url 'lang:english_clause_create' rule.id %} 
          hx-target="#update-form"
          hx-swap="innerHTML">
    {% trans 'button.create' %}
  </button>
</div>

{# Add rule clause example buttons #}
<div class="row gap-2 my-2">

  {# Add rule clause task example/exception #}
  <button class="wse-btn"
          hx-get={% url 'lang:english_example_task_add' rule.id %}
          hx-target="#update-form"
          hx-swap="innerHTML">
    {% trans 'button.add.example.task' %}
  </button>

  {# Add rule clause word example/exception #}
  <button class="wse-btn"
          hx-get={% url 'lang:english_example_word_add' rule.id %}
          hx-target="#update-form"
          hx-swap="innerHTML">
    {% trans 'button.add.example.word' %}
  </button>

  {# Add rule clause exception #}
  <button class="wse-btn">
    {% trans 'button.add.exception' %}
  </button>

</div><!-- End Button row -->