{% load i18n %}

<!--======= Edit rule clause examples table =======-->
{# `layout_id` uses to remove table on 'cancel' button click #}
{% with layout_id='rule-clause-examples-edit' %}
<div id="{{ layout_id }}">
  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'example' %}</th>  
        <th></th>  
      </tr>
    </thead>

    <tbody hx-confirm={% trans 'button.delete.confirm' %}
           hx-target="closest tr"
           hx-swap="outerHTML swap:1s">
      {% for example in examples %}
      <tr>
        <td>{{ example.foreign }} - {{ example.native }}</td>
        <td class="text-end">
          <button class="btn btn-danger"
                  hx-delete={% url 'lang:english_example_word_delete' example.id %}>
            {% trans 'button.delete' %}
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!--======= Pagination =======-->
  {% url 'lang:english_example_word_list' request.resolver_match.kwargs.pk as url_path %}

  {% if page_obj.paginator.num_pages > 1 %}
  <div class="pagination py-3 d-flex justify-content-center align-items-center">
    <nav aria-label="Page navigation">
      <ul class="pagination mb-0">
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link"
             href="#"
             hx-get="{{ url_path }}?page=1"
             hx-target="#update-form"
             hx-swap="innerHTML"
             aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link"
             href="#"
             hx-get="{{ url_path }}?page={{ page_obj.previous_page_number }}"
             hx-target="#update-form"
             hx-swap="innerHTML">
            {% trans 'button.previous' %}
          </a>
        </li>
        {% endif %}

        <li class="page-item disabled">
          <span class="page-link">
            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
          </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link"
             href="#"
             hx-get="{{ url_path }}?page={{ page_obj.next_page_number }}"
             hx-target="#update-form"
             hx-swap="innerHTML">
            {% trans 'button.next' %}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link"
             href="#"
             hx-get="{{ url_path }}?page={{ page_obj.paginator.num_pages }}"
             hx-target="#update-form"
             hx-swap="innerHTML"
             aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% endif %}<!-- End Pagination -->

  <div class="d-flex justify-content-end gap-2">
    {# The button to remove this table #}
    <button type="button"
            class="wse-btn"
            onclick='document.getElementById("{{ layout_id }}").remove()'>
      {% trans 'button.close' %}
    </button>
  </div>
</div>
{% endwith %}<!-- End Edit rule clause examples table -->