<div class="d-flex">
  {% if clause.examples %}
  <div class="flex-grow-1 me-2 py-1" translate="no">
    <i>{{ clause.examples }}</i>
  </div>
  <div class="ms-auto">
    <button class="btn btn-link p-0 border-0"
            id="rule-word-example-edit-button"
            hx-get="{% url 'lang:english_example_word_add' clause.id %}"
            hx-target="#update-form"
            hx-swap="innerHTML">
        <i class="fas fa-edit fa-lg"></i>
    </button>
  </div>
  {% endif %}

  {% if clause.task_examples %}
  <div class="py-1" translate="no">
    <i>{{ clause.task_examples }}</i>
  </div>
  <div class="ms-auto">
    <button class="btn btn-link p-0 border-0"
            id="rule-task-example-edit-button"
            hx-get="{% url 'lang:english_example_task_add' clause.id %}"
            hx-target="#update-form"
            hx-swap="innerHTML">
        <i class="fas fa-edit fa-lg"></i>
    </button>
  </div> 
  {% endif %}
</div>
