{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock title %}{{ title }}

{% block content %}
<main class="container">
  <div class="row py-3">
    <div class="col">
      <h1>{{ header }}</h1>
    </div>
    <div class="col-auto">
      <a href="javascript:history.back()" class="wse-btn"
        >
         Назад
      </a>
    </div>
  </div>

  <!--=== Rule title ====-->
  <div>
    <h3>{{ rule.title }}</h3>
  </div><!-- End Rule title-->

  <!--=== Rule clauses ===-->
  <div>
    <ul>
      {% for clause in rule.clauses %}
        <li class="py-1">
          <!-- Rule clause content -->
          <div>
            {{ clause.content }}
          </div>

          <!-- Rule clause examples -->
          <div class="py-1">
            <i>
              {{ clause.examples }}
            </i>
          </div>

          {% if clause.exception_content %}
            <!-- Rule clause exception content -->
            <div>
              {{ clause.exception_content }}
            </div>

            <!-- Rule clause exceptions -->
            <div class="py-1">
              <i>
                {{ clause.exceptions }}
              </i>
            </div>
          {% endif %}
        </li>

      {% empty %}
        <li class="py-1">Нет доступных правил</li>
      {% endfor %}
    </ul>
  </div><!-- End Rule clauses -->

  <!--=== Rule exceptions ===-->
  <div class="pb-5">
    <h3>Исключения</h3>
        <div class="py-1">
          <i>
            {{ rule.exceptions }}
          </i>
        </div>
  </div><!-- End Rule exceptions -->
</main>
{% endblock content %}