{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<main class="container">
  <div class="row py-3">
    <div class="col">
      <h1>{{ header }}</h1>
    </div>
    <div class="col-auto">
      <a href="javascript:history.back()" class="wse-btn">
         {% trans 'button.back' %}
      </a>
    </div>
  </div>

  {# Target to include the rule card via HTMX after rule update event #}
  <div id="rule-card">
    {% include 'lang/rule/detail/_card.html' %}
  </div>

  {# Button row #}
  {% include 'lang/rule/detail/_buttons.html' %}

  {# Target to include the rule form via HTMX before rule update event #}
  <div id="update-form" class="py-4"></div>
</main>
{% endblock content %}

{% block script %}
<script
  type="module"
  src="{% static 'js/scroll_to_form.js' %}">
</script>
{% endblock script %}