{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "lang.english.tasks.page.index.title" %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "lang.english.tasks.page.index.header" as header %}
  {% include "components/header_block.html" with header=header %}

  <table class="table table-hover">
    <thead>
      <tr>
        <th>{% trans 'exercise.name' %}</th>
        <th>{% trans 'exercise.updated_at' %}</th>
      </tr>
    </thead>

    <tbody>
      {% for assignment in assignments %}
        <tr>
          <td>
            <a href="{{ assignment.get_assignment_url }}" class="text-decoration-none">
              {{ assignment.exercise }}
            </a>
          </td>
          <td>{{ assignment.updated_at|date }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</main>
{% endblock content %}