{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'lang.english.rule.list.user.title' %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "lang.english.rule.list.user.header" as header %}
  {% include "components/header_block.html" with header=header %}

  <!--=== Rule table ===-->
  <div>
    {% include 'lang/rule/list/_table.html' %}
  </div><!-- End Rule table -->

  <!--=== Buttons row ===-->
  <div class="py-3">
    <button class="wse-btn"
            hx-get={% url 'lang:english_rule_create' %}
            hx-target="#form"
            hx-swap="innerHTML">
      {% trans 'button.create' %}
    </button>
  </div><!-- Buttons row -->

  <!--=== Target to form include ===-->
  <div id="form"></div>
</main>
{% endblock content %}