{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/presentation.css' %}">
{% endblock %}


<!--======= Presentation case =======-->
<div id="case-block">
  <div id="question-block" class="presentation-card">
    <div class="presentation-card-header bg-primary bg-opacity-25">
      <h3 class="h5">Вопрос:</h3>
    </div>
    <div class="presentation-card-body">
      <div id="question" class="presentation-card-content">{{ case.definition }}</div>
    </div>
  </div>

  <div id="answer-block" class="presentation-card">
    <div class="presentation-card-header bg-primary bg-opacity-25">
      <h3 class="h5">Ответ:</h3>
    </div>
    <div class="presentation-card-body">
      <div id="answer" class="invisible fs-1">{{ case.explanation }}</div>
    </div>
  </div>

  <div id="info-block" class="presentation-card">
    <div class="presentation-card-header bg-primary bg-opacity-25">
      <h3 class="h5">Информация:</h3>
    </div>
    <div class="presentation-card-body">
      <div id="info" class="fs-4">
        
        Прогресс: {{ case.progress.current }}

      </div>  
    </div>
  </div>
</div><!-- End Presentation case -->