# Config to load fixtures into database
# Version 0.1 (2025-08-22)

load_order:
  # Public
  - db/fixtures/public/discipline.json
  - db/fixtures/public/math_exercise.json
  - db/fixtures/public/math_exercise_condition.json
  - db/fixtures/public/core_task_io.json
  - db/fixtures/public/core_exercise.json
  # Sensitive
  ## User
  - db/fixtures/sensitive/users.json
  - db/fixtures/sensitive/mentorship_users.json
  - db/fixtures/sensitive/mentorship_request.json
  - db/fixtures/sensitive/mentorship.json
  ## Study
  - db/fixtures/sensitive/study_assigned.json
  - db/fixtures/sensitive/study_math_condition.json
  - db/fixtures/sensitive/study_active.json
  - db/fixtures/sensitive/study_expiration.json
  - db/fixtures/sensitive/study_task_award.json
  - db/fixtures/sensitive/study_task_count.json
  ## Glossary
  ### Users data
  - db/fixtures/sensitive/glossary.json
  ## Authorization
  - db/fixtures/sensitive/session.json
  ## Language
  ### Development data
  - db/fixtures/sensitive/lang_dev.json

options:
  default_database: "default"
  ignore_nonexistent: false