{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
  {% include 'components/title.html' %}
  <!--======= Solution =======-->
  <div class="pt-2">
    <h6 class="mb-3">Вопрос:</h6>
    <h4 class="h1" style="line-height: 1.4">
      <mark id="question_text"></mark>
        {{ task.question_text }}
    </h4>

    <h6 class="mb-3">Ответ:</h6>
    <h4 class="h1" style="line-height: 1.4">
      <mark id="answer_text" style="display: none"></mark>
        {{ task.answer_text }}
      <mark id="#stub"></mark>
    </h4>
  </div><!-- End Solution -->

  <!-- Next Question Button -->
  <div id="next_task_step_div" class="pt-4" style="display: inline-block;">
    <button id="next_task_step" class="btn btn-outline-primary btn-sm" name="action" value="next" style="width:80px">Далее</button>
    {% include 'components/back_btn.html' %}
  </div><!-- End Question Button -->
  {% endblock %}

{% block script %}
  <!-- Ajax Update Favorites Word -->
  <script src="{% static 'math_calculate_demo.js' %}"></script>
  <!-- End Ajax Update Favorites Word -->
{% endblock script %}