{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'lang.english.mentor.exercises.title' %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "lang.english.mentor.exercises.header" as header %}
  {% include "components/header_block.html" with header=header %}

  <div class="row g-2 mb-2">
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_mentor_exercises_list' %}
         class="wse-btn full-width height-huge">
        {% trans 'button.title.mentor.exercises.management' %}
      </a>
    </div>
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_assign_exercises' %}
         class="wse-btn full-width height-huge">
        {% trans 'button.title.assign_exercises' %}
      </a>
    </div>
  </div>

  <div class="row g-2 mb-2">
    <div class="col-12 col-md-6">
      <a href={% url 'lang:english_mentor_exercises_assignation_list' %}
         class="wse-btn full-width height-huge">
        {% trans 'button.title.mentor.exercises.assigned' %}
      </a>
    </div>
    <div class="col-12 col-md-6 d-none d-md-block">
      <span>{# Empty space for alignment #}</span>
    </div>
  </div>
</main>
{% endblock content %}