{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<!--======= Account Content =======-->
<div>
  {% include 'components/title.html' with title='Личный кабинет' %}

  <div class="py-2">
    {% if user.is_superuser %}
      <a href="{% url 'users:list' %}">Список других пользователей</a>
    {% endif %}
  </div>

  <div>
    <h2>Упражнения на получение баллов</h2>
      <ul class="list-unstyled">
        <li class="py-1"><a href="{% url 'task:math_set_table_mult_points' %}"
                            class="btn btn-outline-primary btn-sm"
                            role="button"
                            style="width: 250px;">Таблица умножения</a></li>
      </ul>
  </div>

  <div>
    {% if user.is_superuser %}
      <a href="{% url 'english:create_task_settings' user.id %}">Создай Настройки упражнения "Изучаем слова"</a><br>
      <a href="{% url 'english:update_task_settings' user.id %}">Измени Настройки упражнения "Изучаем слова"</a>
    {% endif %}
  </div>

  <!-- Update / Delete User -->
  <div class="pt-3">
    <a href="{% url 'users:update' object.pk %}" class="btn btn-outline-primary btn-sm m-1" type="button">Изменить свои данные</a>
    <a href="{% url 'users:delete' object.pk %}" class="btn btn-outline-danger btn-sm m-1" type="button">Удалить</a>
    {% include 'components/btn_back.html' %}
  </div><!-- End Update / Delete User -->

</div><!-- End Account Content -->
{% endblock %}