{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Вход в приложение{% endblock %}

{% block content %}
<!--======== User Login Content =======-->
{% include 'components/title.html' with title='Вход в приложение' %}

<div class="row row-cols-1 cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <form class ="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-outline-success btn-sm" data-testid="login-button">Войти</button>
    {% include 'components/btn_back.html' %}
  </form>
</div><!-- End User Login Content -->
{% endblock %}