{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<!--======== User Login Content =======-->
<div class="card-title h3 ps-3 pb-3">{{ title }}</div>
<div class="row row-cols-1 cols-sm-2 row-cols-md-3 row-cols-lg-4">
  <form class ="" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-outline-success btn-sm" data-test="login-button">Войти</button>
    {% include 'components/back_btn.html' %}
  </form>
</div><!-- End User Login Content -->
{% endblock %}