{% extends 'base.html' %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}
<!--======= Account Content =======-->
<div>
  {% include 'components/title.html' with title='Личный кабинет' %}
  <h6>Имя пользователя: {{ user }}</h6>

  <!-- Update / Delete User -->
  <div class="pt-3">
    <a href="{% url 'users:update' object.pk %}" class="btn btn-outline-primary btn-sm m-1" type="button">Изменить свои данные</a>
    <a href="{% url 'users:delete' object.pk %}" class="btn btn-outline-danger btn-sm m-1" type="button">Удалить</a>
    {% include 'components/btn_back.html' %}
  </div><!-- End Update / Delete User -->

  <div class="p-3"></div>

  {% if ENVIRONMENT == 'development' %}
    {% include 'users/profile_mentorship.html' %}
  {% endif %}

</div><!-- End Account Content -->
{% endblock %}
