{% extends 'base.html' %}

{% block content %}
{% include 'components/title.html' with title='Таблица назначенных слов' %}

<form action="{% url 'foreign:word_to_student' 7 %}" method="POST">
    <table class="table table-hover">
      <thead class="align-middle">
        <tr>
          <th>
            Выбрать<br>
            <input type="checkbox" name="all" value="">  все
          </th>
          <th>На иностранном</th>
          <th>На родном</th>
          <th>Категория</th>
          <th>Источник</th>
        </tr>
      </thead>
      <tbody>
        {% for word in words %}
        <tr>
          <td><input type="checkbox" name="selected_option" value="{{ word.pk }}"></td>
          <td>{{ word.foreign_word }}</td>
          <td>{{ word.native_word }}</td>
          <td>{{ word.category }}</td>
          <td>{{ word.source }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% csrf_token %}

    <input type="submit" class="btn btn-info btn-lg" name="" value="submit">
</form>
{% endblock %}