{% extends 'base.html' %}

{% block content %}
<div class="card text-dark bg-light">

  <!--======= Header =======-->
  <div class="card-header">
    <h1><a href="{% url 'english:home' %}">{{ supertitle }}</a></h1>
    <h2 class="text-center pt-2">{{ title }}</h2>
    <p class="h4"><a href="{% url 'english:categories_create' %}">Добавить категорию</a></p>
  </div><!-- End Header -->

  <div class="card-body">
    {% include 'components/pagination.html' %}

    <!--======= Categories Table =======-->
    <div class="table-responsive">
      <table class="table table-striped table-hover table-info">

        <thead class="table-primary">
          <tr>
            <th>ID</th>
            <th>Имя категории</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
        {% for category in categories %}
          <tr>
            <td class="table-primary">{{ category.pk }}</td>
            <td>{{ category.name }}</td>
            <td>
              <a href="{% url 'english:categories_update' category.pk %}">Изменить</a> /
              <a href="{% url 'english:categories_delete' category.pk %}">Удалить</a>
            </td>
          </tr>
        {% endfor %}
        </tbody>

      </table>
    </div><!-- End Categories Table -->

    {% include 'components/pagination.html' %}
    {% include 'components/back_btn.html' %}
  </div>

</div>
{% endblock %}