{% extends 'base.html' %}

{% block content %}
<!--======= Additional Navigation =======-->
<div class="pb-2">
  <a href="{% url 'english:categories_create' %}" class="btn btn-outline-dark btn-sm" role="button">Добавить категорию</a>
</div><!-- End Additional Navigation -->

{% include 'components/title.html' %}

<!--======= Categories Table =======-->
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Имя категории</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
    {% for category in categories %}
      <tr>
        <td><a href="{% url 'english:categories_detail' category.pk %}">{{ category.name }}</a></td>
        <td class="">
          <span class="pe-4"><a href="{% url 'english:categories_update' category.pk %}">{% include 'icons/pencil.svg' %}</a></span>
          <span class=""><a href="{% url 'english:categories_delete' category.pk %}">{% include 'icons/basket.svg' %}</a></span>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div><!-- End Categories Table -->

<!--======= Navigation Buttons =======-->
{% include 'components/back_btn.html' %}<!-- End Navigation Buttons -->
{% endblock %}