{% extends 'base.html' %}

{% block content %}

{% include 'components/title.html' %}

<div>
  <h5>Упражнения</h5>
  <ul class="list-unstyled ps-3">
    <li class="py-1"><a href="{% url 'english:word_choice' %}" class="btn btn-outline-primary btn-sm" role="button">Изучаем слова</a></li>
  </ul>
</div>

<div>
  <h5>Словарь</h5>
  <ul class="list-unstyled ps-3">
    <li class="py-1"><a href="{% url 'english:words_create' %}" class="btn btn-outline-primary btn-sm" role="button">Добавить слово</a></li>
    <li class="py-1"><a href="{% url 'english:word_list' %}" class="btn btn-outline-primary btn-sm" role="button">Список слов</a></li>
    <li class="py-1"><a href="{% url 'english:category_list' %}" class="btn btn-outline-primary btn-sm" role="button">Категории</a></li>
    <li class="py-1"><a href="{% url 'english:source_list' %}" class="btn btn-outline-primary btn-sm" role="button">Источники</a></li>
  </ul>
</div>
{% endblock %}