{% extends 'base.html'  %}

{% block content %}
<!--======= Additional navigation =======-->
<div class="pb-2">
  <a href="{% url 'english:words_create' %}" class="btn btn-outline-dark btn-sm" role="button"
    >Добавить слово
  </a>
  <a href="https://translate.google.com/?hl=ru&sl=auto&tl=ru&text={{word.words_eng}}&op=translate" class="btn btn-outline-dark btn-sm" role="button"
    >Google
  </a>
</div><!-- End Additional Navigation -->

{% include 'components/title.html' %}

<div class="table-responsive">
  <table class="table table-hover">
    <thead class="align-middle">
      <tr>
        <th>ID</th>
        <th>Слово по-английски</th>
        <th>Слово по-русски</th>
        <th>Уровень знания</th>
        <th>Источник</th>
        <th>Дата добавления (изменения) слова</th>
        <th>Избранные слова</th>
      </tr>
    </thead>
    <tbody>
      {% for word in words %}
        <tr>
          <td class="text-table-primary">{{ word.pk }}</td>
          <td><a href="{% url 'english:words_detail' word.pk %}">{{ word.words_eng }}</a></td>
          <td class="align-middle">{{ word.words_rus }}</td>
          <td class="text-center align-middle">{% if word.assessment %}{{ word.assessment }}{% endif %}</td>
          <td class="align-middle">{% if word.source %}{{ word.source }}{% endif %}</td>
          <td class="text-center align-middle">{{ word.updated_at|date:"d.m.Y" }}</td>
          <td class="align-middle">
            <form action="{% url 'english:word_favorites_view' word.pk 'user_list' %}" method="post">
              {% csrf_token %}
              {% if word.favorite %}
                <button type="submit" class="btn btn-link" name="favorites_action" value="remove">Удалить</button>
              {% else %}
                <button type="submit" class="btn btn-link" name="favorites_action" value="add">Добавить</button>
              {% endif %}
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include 'components/back_btn.html' %}
{% endblock %}