{% extends 'base.html' %}

{% block content %}
<h1>Слово: {{ word.words_eng }}</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Перевод:</td>
      <td>{{ word.words_rus }}</td>
    </tr>
    <tr>
      <td>Оценка уровня знания:</td>
      <td></td>
    </tr>
    <tr>
      <td>Количество слов:</td>
      <td></td>
    </tr>
    <tr>
      <td>Является избранным:</td>
      <td></td>
    </tr>
    <tr>
      <td>Источник:</td>
      <td></td>
    </tr>
    <tr>
      <td>Принадлежит категории:</td>
      <td></td>
    </tr>
  </tbody>
</table>
{% endblock %}