{% extends 'base.html' %}

{% load static %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="container p-0">
  {% include "components/header_block.html" with header=header %}

  {% include 'lang/exercise/presentation/_settings.html' %}

  <div id="presentation-block">
    {% include 'lang/exercise/presentation/_case.html' %}
    {% include 'lang/exercise/presentation/_mark_bar.html' %}
  </div>

  {% include 'lang/exercise/presentation/control_bar.html' %}

</main>
{% endblock %}

{% block script %}
<script
  type="module"
  src="{% static 'js/lang/exercise/presentation/index.js' %}"
></script>
{% endblock %}
