{# Translation presentation exercise index page #}

{% extends 'base.html' %}

{% load static %} 
{% load i18n %}

{% block title %}{% trans 'lang.page.translation.presentation.title' %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "lang.page.translation.presentation.header" as header %}
  {% include "components/header_block.html" with header=header %}

  {# Target to insert exercise partial template #}
  <div id="exercise-block">
    {{ initial_html }}
  {# Presentation exercise specific partial template #}
    {% include './_mark_bar.html' %}
  </div>

  {# Presentation exercise specific partial template #}
  {% include './control_bar.html' %}

</main>
{% endblock content %}

{% block script %}
<script
  type="module"
  src="{% static 'js/lang/exercise/presentation/index.js' %}"
></script>
{% endblock script %}