{% extends 'base.html' %}

{% load static %} 

{% block title %}{{ title }}{% endblock %}

{% block content %}
<main class="container p-0">
  <div id="header-block" class="row align-items-start py-1">
    <div class="col">
      <h1 class="mb-0">{{ header }}</h1>
    </div>
    <div class="col-auto">
      <a href="{% url 'lang:settings' %}" class="wse-btn">
         Настройки
      </a>
      <a href="javascript:history.back()" class="wse-btn">
         Назад
      </a>
    </div>
  </div>

  {% include 'lang/exercise/presentation/_settings.html' %}

  <div id="presentation-block">
    {% include 'lang/exercise/presentation/_case.html' %}
    {% include 'lang/exercise/presentation/_mark_bar.html' %}
  </div>

  {% include 'lang/exercise/presentation/control_bar.html' %}

</main>
{% endblock %}

{% block script %}
<script
  type="module"
  src="{% static 'js/lang/exercise/presentation/index.js' %}"
></script>
{% endblock %}
