{% extends 'base.html' %}

{% block title %}Термин{% endblock %}

{% block content %}
<h1 class="h3">Термин</h1>
{{ object.name }}
<h2 class="mt-3 h5">Толкование:</h4>
{{ object.definition }}
<h2 class="mt-3 h5">Утверждения:</h4>
<ul>{% for assertion in object.assertions.all %}
        <li>{{ assertion.assertion }}</li>
    {% empty %}
        <li>Нет утверждений</li>
    {% endfor %}
</ul>
<a class="m-1 btn btn-secondary" href="javascript:history.back()">Назад</a>
<a class="m-1 btn btn-secondary" href="{% url 'glossary:term_update' object.pk %}">Изменить</a>
<a class="m-1 btn btn-secondary" href="{% url 'glossary:term_delete' object.pk %}">Удалить</a>
{% endblock %}