{# Term list page #}
{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'glossary.page.index.title' %}{% endblock %}

{% block content %}
<main class="container">
  {% trans "glossary.page.index.header" as header %}
  {% include "components/header_block.html" with header=header %}

  <ul>
    {% for term in terms %}
        <li><a href="{{ term.get_absolute_url }}">{{ term.name }}</a> - {{ term.definition }}</li>
    {% empty %}
        <li>Термины еще не добавлены.</li>
    {% endfor %}
  </ul>

  <div>
    <a href="javascript:history.back()"
       class="wse-btn">
      {% trans 'button.back' %}  
    </a>
    <a href="{% url 'glossary:term_create' %}"
       class="wse-btn">
      {% trans 'button.title.create.term' %}
    </a>
  </div>
</main>
{% endblock %}