{% extends 'base.html' %}
{% load static %}

{% block title %}О проекте{% endblock %}

{% block content %}
{% include 'components/title.html' with title='О проекте' %}
<ul class="ps-0">Цель проекта - помощь в изучении:
  <li class="ps-3">иностранных слов;</li>
  <li class="ps-3">терминов;</li>
  <li class="ps-3">таблицы умножения.</li>
</ul>
<div>
  <h4>Обновления:</h4>
  <h5>v0.4.1 (Сегодня)</h5>
  <ul>
    <li>Обновлена верхняя меню навигации.</li>
    <li>Добавлено выполнение упражнения "Изучение терминов" в браузере.</li>
    <li>Добавлена возможность сохранять параметры упражнения "Изучение иностранных слов"</li>
    <li>Обновлена глава сайта "Мобильное приложение" ... </li>
  </ul>
  <h5>v0.4.0 (2024-10-06)</h5>
</div>
{% endblock %}