{% load django_bootstrap5 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>

<body>
  <header>
    <nav>
      <!--======= Navigation =======-->
      <!-- End Navigation -->
    </nav>
  </header>

  <main>
    <div class="container">
      <!--======= Content =======-->
      {% bootstrap_messages %}
      {% block content %}{% endblock %}
      <!-- End Content -->
    </div>
  </main>

  <!--======= Scripts =======-->
  <!-- End Scripts -->
</body>
</html>