{% load static %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include 'components/title.html' %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
</head>

<body>
  <header>
    {% include 'components/navbar.html' %}
  </header>
  <main class="container pt-1">
    <div class="row cols-sm-6 row-cols-md-2 row-cols-lg-4">
      {% bootstrap_messages %}
    </div>
    <div class="card-body pt-2">
      {% block content %}
      {% endblock %}
    </div>
  </main>
</body>
</html>