<!DOCTYPE html>
{% load static %}
{% load django_bootstrap5 %}
{% load django_htmx %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}WSE{% endblock %}</title>
  <meta name="description" content="{% block description %}Образовательная платформа WSE{% endblock %}">
  
  {% bootstrap_css %}
  {% include 'css.html' %}
  {% block extra_css %}{% endblock %}
  {% block styles %}{% endblock %}
  {% block meta %}{% endblock %}
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
  {% htmx_script minified=True %} 

  {% include 'components/messages.html' %}
    
  <!--======= Header =======-->
  <header class="">
    <!--======= Navigation =======-->
    {% include 'components/navbar.html' %}
    <!-- End Navigation -->
  </header><!-- End Header -->

  <!--======= Content =======-->
  {% block content %}{% endblock %}<!-- End Content -->

  <!--======= Scripts =======-->
  {% bootstrap_javascript %}
  <script type="module" src="{% static 'js/logger.js' %}"></script>
  {% block script %}{% endblock script %}<!-- End Scripts -->
</body>
</html>