{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<!--======= Form Content =======-->
<div>
  <div class="">
    {% include 'components/card_title.html' %}
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form form %}
      {% bootstrap_button btn_name button_type='submit' button_class='btn-outline-success btn-sm' %}
      {% bootstrap_button button_type="reset" button_class='btn-outline-danger btn-sm' content="Cancel" %}
      {% include 'components/back_btn.html' %}
    </form>
  </div>
</div><!-- End Form Content -->
{% endblock %}