{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'home.page.title' %}{% endblock %}

{% block description %}
{# TODO: Add description #}
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mt-4 mb-5 text-center">{% trans 'home.page.header' %}</h1>

  <!--=== Navigation buttons ===-->
  <div class="row g-2 mb-2">
    {# Language index page #}
    <div class="col-12 col-md-6">
      <a class="wse-btn full-width height-huge"
         href="{% url 'lang:index' %}">
        {% trans 'button.lang.index' %}
      </a>
    </div>
    <div class="col-12 col-md-6">
    {# Glossary index page #}
      <a class="wse-btn full-width height-huge"
         href="{% url 'glossary:index' %}">
        {% trans 'button.glossary.index' %}
      </a>
    </div>
  </div>
  <div class="row g-2 mb-2">
    {# Mathematical index page #}
    <div class="col-12 col-md-6">
      <a class="wse-btn full-width height-huge"
         href="{% url 'math:index' %}">
        {% trans 'button.math.index' %}
      </a>
    </div>
    <div class="col-12 col-md-6">
    {# Source list page #}
      <a class="wse-btn full-width height-huge"
         href="{% url 'core:source_list' %}">
        {% trans 'button.source.list' %}
      </a>
    </div>
  </div><!-- End Navigation buttons -->

  <!--=== Localization select form ===-->
  <div class="p-5">
    {% include 'components/language_selector.html' %}
  </div><!-- End Localization select form -->
</div>
{% endblock %}