{% extends 'base.html' %}

{% block content %}
<!--======= Home Page Content =======-->
<div>
  <h4>{% block title %}Домашняя страница{% endblock %}</h4>
  <div class="pt-5">
    <a href="{% url 'english:calendar' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Calendar</a>
  </div>

  <div class="pt-1">
    <a href="{% url 'english:new_form' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">New form</a>
  </div>
</div><!-- End Home Page Content -->
{% endblock %}q