{% extends 'base.html' %}
{% load static %}

{% block title %}Приложение для мобильных{% endblock %}

{% block content %}
{% include 'components/title.html' with title='Приложение для мобильных' %}
<div>
    <p>В настоящее время разрабатывается и тестируется версия только для ОС Андройд.</p>
  <h1>Приложение для ОС Андроид</h1>
    <p>При установке, приложение проверяется инструментами Google Play.</p>
    <p>Для пользования мобильным приложение необходимо иметь учетную запись на сайте.</p>
    <p class="h5"><a href="/media/wse-toga-0-1-0.apk" download>Скачайте мобильное приложение</a></p>
    <h3>Установка мобильно приложения</h3>
    <div>
      <p>Откройте папку со скаченным установочным файлом.</p>
      <p>Нажмите на скаченный файл.</p>
      <p>Запустите установку приложения:</p>
        <img src="{% static 'image/mobile/install/01-install-start.png' %}" width="200">
        <img src="{% static 'image/mobile/install/02-install-run.png' %}" width="200">
      <p class="pt-3">Проверьте приложение на безопасность:</p>
        <img src="{% static 'image/mobile/install/03-check-google-play.png' %}" width="200">
        <img src="{% static 'image/mobile/install/04-checking.png' %}" width="200">
      <p class="pt-3">Завершите установку:</p>
        <img src="{% static 'image/mobile/install/05-check-install.png' %}" width="200">
        <img src="{% static 'image/mobile/install/06-check-result.png' %}" width="200">
      </div>
</div>
{% endblock %}