{# User's stored calculation exercises table partial template #}

{% load i18n %}

<div id="table-block" hx-swap-oob="true">
  <table class="table table-hover">
    <thead>
      <th>{% trans "Exercise name" %}</th>
      <th>{% trans "Min value" %}</th>
      <th>{% trans "Max value" %}</th>
      <th>{% trans "Operation" %}</th>
      <th></th>
    </thead>
    <tbody>
      {% for exercise in exercises %}
        <tr id="row-{{ exercise.pk }}"
            class="align-middle">
          <td class="py-3">{{ exercise.name }}</td>
          <td>{{ exercise.min_operand }}</td>
          <td>{{ exercise.max_operand }}</td>
          <td>{{ exercise.get_operation_type_display }}</td>
          <td>
            <div class="d-flex align-items-center justify-content-end"
                 style="gap: 1.5rem;">
              {# Edit icon #}
              <button class="btn btn-link border-0 p-0"
                      data-testid="edit-btn-{{ exercise.pk }}"
                      title="{% trans 'table.exercise.update' %}"
                      hx-get="{% url 'math:regular_calculation_exercise_update' exercise.pk %}"
                      hx-target="#form"
                      hx-swap="outerHTML">
                <span style="font-size: 1.25rem; display: inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center;">
                  &#9999;&#65039;
                </span>
              </button>
              {# Delete icon #}
              <button class="btn btn-link p-0 border-0"
                      data-testid="delete-btn-{{ exercise.pk }}"
                      title="{% trans 'table.exercise.delete' %}"
                      hx-delete="{% url 'math:regular_calculation_exercise_delete' exercise.pk %}"
                      hx-target="#row-{{ exercise.pk }}"
                      hx-swap="outerHTML"
                      hx-confirm="{% trans 'table.exercise.delete.confirm' %}">
                <span style="font-size: 1.25rem; display: inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center;">
                  &#128465;&#65039;
                </span>
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!--=== Pagination ===-->
{% include 'components/pagination.html' %}<!-- End Pagination -->