{# Source list page #}
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'core.source.list.title' %}{% endblock %}

{% block content %}
<main class="container">
  {% trans "core.source.list.header" as header %}
  {% include "components/header_block.html" with header=header %}

  <!--=== Source table ===-->
  <table class="table">
    <thead>
      <tr>
        <th>{% trans 'table.source.name' %}</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for source in sources %}
        <tr id="row-{{ source.pk }}">
          {# Source name #}
          <td class="align-middle py-3">
            {{ source.name }}
          </td>
          {# Icons column #}
          <td class="align-middle py-3 text-end">
            <div class="d-flex align-items-center justify-content-end" style="gap: 1.5rem;">
              {# Edit icon #}
              <button class="btn btn-link border-0 p-0"
                      data-testid="edit-btn-{{ source.pk }}"
                      title="{% trans 'table.source.update' %}"
                      hx-get="{% url 'core:source_update' source.pk %}"
                      hx-target="#form"
                      hx-swap="outerHTML">
                <span style="font-size: 1.25rem; display: inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center;">
                  &#9999;&#65039;
                </span>
              </button>
              {# Delete icon #}
              <button class="btn btn-link p-0 border-0"
                      data-testid="delete-btn-{{ source.pk }}"
                      title="{% trans 'table.source.delete' %}"
                      hx-delete="{% url 'core:source_delete' source.pk %}"
                      hx-target="#row-{{ source.pk }}"
                      hx-swap="outerHTML"
                      hx-confirm="{% trans 'table.source.delete.confirm' %}">
                <span style="font-size: 1.25rem; display: inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center;">
                  &#128465;&#65039;
                </span>
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table><!-- End Source table -->

  <!--=== Buttons row ===-->
  <div class="py-3">
    <button class="wse-btn"
            hx-get={% url 'core:source_create' %}
            hx-target="#form"
            hx-swap="innerHTML">
      {% trans 'button.create' %}
    </button>
  </div><!-- Buttons row -->

  <!--=== Form ===-->
  {# Target for inserting form #}
  <div id="form"></div><!-- End Form -->
</main>
{% endblock content %}