{# Mark index template #}
{# Provides list and edit UI #}
{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'lang.page.mark.title' %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "lang.page.mark.header" as header %}
  {% include "components/header_block.html" with header=header %}

  <!-- Mark table -->
  <div>{% include 'lang/mark/_table.html' %}</div><!-- End Mark table -->

  <!-- Mark form -->
  {# Target for mark edit form insert #}
  <div id="form-holder"></div><!-- End Mark form -->

  <!-- Button row -->
  <div>
    {# Create mark button #}
    <button class="wse-btn"
            data-testid="create-btn"
            title={% trans 'button.create' %}
            hx-get={% url 'lang:mark_create' %}
            hx-swap="innerHTML"
            hx-target="#form-holder">
      {% trans 'button.create' %}
    </button>
  </div><!-- End Button row -->
</main>
{% endblock content %}