{% extends 'base.html' %}

{% block title %}Маркеры{% endblock %}

{% block content %}
<main class="container p-0">
  <div id="header-block" class="row align-items-start py-1">
    <div class="col">
      <h1 class="mb-0">Маркеры</h1>
    </div>
    <div class="col-auto">
      <a href="javascript:history.back()" class="wse-btn">
         Назад
      </a>
    </div>
  </div>

  <ul>
  {% for mark in marks %}
      <li><a href="{{ mark.get_absolute_url }}">{{ mark.name }}</a></li>
  {% empty %}
      <p>Маркеры еще не добавлены.</p>
  {% endfor %}
  </ul>
</main>
{% endblock %}