{% load i18n %}

{# Language Selection Form #}
{# https://docs.djangoproject.com/en/6.0/topics/i18n/translation/#the-set-language-redirect-view #}

<div class="p-3 bg-light rounded shadow-sm">
  <form action="{% url 'set_language' %}" method="post" id="languageForm">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    
    <div class="mb-2">
      <label for="languageSelect" class="form-label fw-bold">
        <i class="bi bi-translate me-1"></i>{% trans "Language" %}
      </label>
      <select name="language" id="languageSelect" class="form-select" onchange="this.form.submit()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
          <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>
            {{ language.name_local }} ({{ language.code }})
          </option>
        {% endfor %}
      </select>
    </div>
  </form>
</div>