<nav id="nav" class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    {% if balance %}
      <a class="navbar-brand" href="{% url 'home' %}">
        * WSE * Баланс: <span id="balance">{{ balance }}</span> *
      </a>
    {% else %}
      <a class="navbar-brand" href="{% url 'home' %}">WSE</a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span id="navbar-toggler-icon" class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <ul data-testid="navbar-list" class="navbar-nav">
          {% if user.is_authenticated %}
            <li class="nav-item"><a id="user-nav" data-testid="account-link" class="nav-link" href="{% url 'users:detail' user.pk %}" tabindex="-1" aria-disabled="true">Личный кабинет</a></li>
            <li class="nav-item"><a id="foreign-nav" href="{% url 'foreign:home' %}" class="nav-link">Иностранный язык</a></li>
            <li class="nav-item"><a id="math-nav" href="{% url 'math:math_calculate_choice' %}" class="nav-link">Математика</a></li>
            <li class="nav-item"><a id="logout-nav" class="nav-link" href="{% url 'users:logout' %}">Выйти</a></li>
          {% else %}
            <li class="nav-item"><a id="register-nav" class="nav-link" href="{% url 'users:create' %}">Регистрация</a></li>
            <li class="nav-item"><a id="login-nav" class="nav-link" href="{% url 'users:login' %}">Войти</a></li>
          {% endif %}
          <li class="nav-item"><a id="tutorial" href="https://svmikurov.github.io/wselfedu/tutorial/index.html#wselfedu-tutorial" class="nav-link">Справочник пользователя</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>