<div data-testid="sidebar" class="header">
  <div data-testid="main-chapters" class="ps-3">
    {% if user.is_authenticated %}
      <p class="h5"><a href="{% url 'users:detail' user.pk %}">Личный кабинет</a></p>
    {% else %}
      <p class="h5">Личный кабинет</p>
    {% endif %}
    <p class="h5"><a href="{% url 'home' %}">На главную</a></p>
    <p class="h5"><a href="{% url 'about' %}">О проекте</a></p>
    <p class="h5"><a href="{% url 'mobile_main' %}">Мобильное приложение</a></p>
  </div>

  <div data-testid="foreign-chapters" class="ps-3">
    <p class="h5"><a href="{% url 'foreign:home' %}">Иностранный язык</a></p>
    {% include 'foreign/chapters.html' %}
  </div>

  <div data-testid="glossary-chapters" class="ps-3">
    <p class="h5"><a href="{% url 'glossary:home' %}">Глоссарий</a></p>
    {% include 'glossary/chapters.html' %}
  </div>

  <div data-testid="mathematics-chapters" class="ps-3">
    <p class="h5"><a href="{% url 'math:home' %}">Математика</a></p>
    {% include 'mathematics/chapters.html' %}
  </div>

</div>