<nav id="sidebar">
  <ul class="list-unstyled">

    <li>
      <ul class="list-unstyled" id="sidebar-foreign">
        <li class="py-1 h5"><a href="{% url 'foreign:main' %}">Иностранный язык</a></li>
        <li class="py-1 ps-2"><a href="{% url 'foreign:words_create' %}">Добавить слово</a></li>
        <li class="py-1 ps-2"><a href="{% url 'foreign:word_list' %}">Список слов</a></li>
        <li class="py-1 ps-2"><a href="{% url 'foreign:category_list' %}">Категории</a></li>
        <li class="py-1 ps-2"><a href="{% url 'foreign:source_list' %}">Источники</a></li>
        <li class="py-1"><b>Упражнения:</b></li>
        <li class="py-1 ps-2"><a href="{% url 'foreign:params' %}">"Изучение слов"</a></li>
      </ul>
    </li>

    <li>
      <ul class="list-unstyled" id="sidebar-glossary">
        <li class="py-1 h5"><a href="{% url 'glossary:main' %}">Глоссарий</a></li>
        <li class="py-1 ps-2"><a href="{% url 'glossary:term_create' %}">Добавить термин</a></li>
        <li class="py-1 ps-2"><a href="{% url 'glossary:term_list' %}">Список терминов</a></li>
        <li class="py-1 ps-2"><a href="{% url 'glossary:category_list' %}">Категории</a></li>
        <li class="py-1 ps-2"><a href="{% url 'glossary:source_list' %}">Источники</a></li>
        <li class="py-1"><b>Упражнения:</b></li>
        <li class="py-1 ps-2"><a href="{% url 'glossary:params' %}">"Изучение терминов"</a></li>
      </ul>
    </li>

    <li>
      <ul class="list-unstyled" id="sidebar-mathematics">
        <li class="py-1 h5"><a href="{% url 'math:main' %}">Математика</a></li>
        <li class="py-1"><b>Упражнения:</b></li>
        <li class="py-1 ps-2"><a href="{% url 'math:math_calculate_choice' %}">"Вычисления"</a></li>
      </ul>
    </li>

  </ul>
</nav>