{% extends 'base.html' %}

{% block title %}
  {% if title.title_name %}{{ title.title_name }}{% else %}{{ title }}{% endif %}
{% endblock %}

{% block content %}
<!--======= Account Content =======-->
<div>
  {% include 'components/card_title.html' %}

  <div class="py-2">
    {% if user.is_superuser %}
      <a href="{% url 'users:list' %}">Список других пользователей</a>
    {% endif %}
  </div>

  <div class="py-2"><a class="" href="{% url 'english:users_words' user.pk %}">К списку изучаемых слов</a></div>

  <!-- Update / Delete User -->
  <div class="pt-3">
    <a href="{% url 'users:update' object.pk %}" class="btn btn-outline-primary btn-sm m-1" type="button">Обновить</a>
    <a href="{% url 'users:delete' object.pk %}" class="btn btn-outline-danger btn-sm m-1" type="button">Удалить</a>
    {% include 'components/back_btn.html' %}
  </div><!-- End Update / Delete User -->

</div><!-- End Account Content -->
{% endblock %}