{% extends 'base.html' %}

{% block content %}
{% include 'components/title.html' with title='Список пользователей' %}
<!--====== Users list ======-->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Имя пользователя</th>
      <th>Дата регистрации</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    <tr>
      <td>{{ user.pk }}</td>
      <td>{{ user.username }}</td>
      <td>{{ user.date_joined }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table><!-- End Users list -->
{% endblock %}