{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/presentation.css' %}">
{% endblock extra_css %}

<div class="presentation-card-body">
  <div id="question" class="presentation-card-content">
    <div>{{ exercise.question_text }} - {{ exercise.answer_text }}</div>
  </div>
</div>
<div class="presentation-card-body">
  <div id="question" class="presentation-card-content">
    <div>{{ exercise.selected_question_text }} - {{ exercise.selected_answer_text }}</div>
  </div>
</div>

<div class="py-1">
  <button class="wse-btn full-width height-huge"
          hx-get=""
          hx-target="#exercise-block">
    Далее
  </button>
</div>