{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/presentation.css' %}">
{% endblock extra_css %}

<div class="presentation-card-body">
  <div id="question" class="presentation-card-content">
    <div>{{ case_question }} - {{ case_answer }}</div>
  </div>
</div>
<div class="presentation-card-body">
  <div id="question" class="presentation-card-content">
    <div>{{ selected_question }} - {{ selected_answer }}</div>
  </div>
</div>

<div class="py-1">
  <button class="wse-btn full-width height-huge"
          hx-post=""
          hx-vals='{"status": "new_case"}'
          hx-target="#test-block">
    Далее
  </button>
</div>