{# Translation test exercise page #}
{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'lang.page.translation.test.title' %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "lang.page.translation.test.header" as header %}
  {% include "components/header_block.html" with header=header %}

  {% include 'lang/exercise/test/_settings.html' %}

  {# Target to insert 'Translation test exercise' partial template #}
  <div id="test-block"></div>

</main>
{% endblock content %}

{% block script %}
<script
  type="module"
  src="{% static 'js/lang/exercise/test/index.js' %}"
></script>
{% endblock script %}
