{# Translation test exercise index page #}

{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'lang.page.translation.test.title' %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "lang.page.translation.test.header" as header %}
  {% include "components/header_block.html" with header=header %}

  {{ context }}

  {# Target to insert exercise partial template #}
  <div id="exercise-block">
    {{ initial_html }}
  </div>

</main>
{% endblock content %}

{% block script %}
<script
  type="module"
  src="{% static 'js/lang/exercise/test/index.js' %}"
></script>
{% endblock script %}
