{# Mentors's assigned calculation exercises table partial template #}

{% load i18n %}

<div id="table-form-block" class="table-responsive">
  <!--=== Table ===-->
  <table class="table table-hover">
    <thead>
      <th>{% trans "Exercise name" %}</th>
      <th>{% trans "Student" %}</th>
      <th>{% trans "exercise.availability.count" %}</th>
      <th>{% trans "exercise.reward.amount" %}</th>
      <th>{% trans "exercise.reward.type" %}</th>
      <th>{% trans "exercise.availability.period" %}</th>
      <th>{# Edit icons #}</th>
    </thead>
    <tbody>
      {% for exercise in exercises %}
        <tr id="row-{{ exercise.pk }}"
            class="align-middle">
          <td class="py-3">
            <a href="{% url "math:detail_calculation_exercise" exercise.calculation_condition.pk %}">
              {{ exercise.calculation_condition }}
            </a>
          </td>
          <td>{{ exercise.mentorship.student }}</td>
          <td>{{ exercise.availability_count }}</td>
          <td>{{ exercise.reward_amount }}</td>
          <td>{{ exercise.reward_type }}</td>
          <td>{{ exercise.availability_period }}</td>
          <td>
            <div class="d-flex align-items-center justify-content-end"
                 style="gap: 1.5rem;">
              {# Edit icon #}
              <button class="btn btn-link border-0 p-0"
                      data-testid="edit-btn-{{ exercise.pk }}"
                      title="{% trans 'table.exercise.update' %}"
                      hx-get="{% url 'math:mentor_calculation_exercise_update' exercise.pk %}"
                      hx-target="#form-block"
                      hx-swap="innerHTML">
                <span style="font-size: 1.25rem; display: inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center;">
                  &#9999;&#65039;
                </span>
              </button>
              {# Delete icon #}
              <button class="btn btn-link p-0 border-0"
                      data-testid="delete-btn-{{ exercise.pk }}"
                      title="{% trans 'table.exercise.delete' %}"
                      hx-delete="{% url "math:mentor_calculation_exercise_delete" exercise.pk %}"
                      hx-target="#row-{{ exercise.pk }}"
                      hx-swap="outerHTML"
                      hx-confirm="{% trans 'table.exercise.delete.confirm' %}">
                <span style="font-size: 1.25rem; display: inline-block; width: 24px; height: 24px; line-height: 24px; text-align: center;">
                  &#128465;&#65039;
                </span>
              </button>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table><!-- End Table -->

  {# Pagination #}
  {% include 'components/pagination.html' %}

  {# Target to form insert by HTMX #}
  <div id="form-block"></div>
</div>
