{# Assigned calculation exercise list page with create and update form #}

{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "math.page.exercises.assigned.title" %}{% endblock title %}

{% block content %}
<main class="container">
  {% trans "math.page.calculation.assigned.list.header" as header %}
  {% include "components/header_block.html" with header=header %}

  {% include "./_table.html" %}

  {# REFACTOR: Update form & button display #}
  <!--=== Buttons row ===-->
  <div class="py-3">
    <button class="wse-btn"
            hx-get="{% url "math:mentor_calculation_exercise_create" %}"
            hx-target="#form-block"
            hx-swap="innerHTML"
            hx-include="#form-block">
      {% trans 'button.create' %}
    </button>
  </div><!-- End Buttons row -->
</main>
{% endblock %}