name: Mypy Typecheck

on:
  push:
    branches: [ "**" ]
  pull_request:

jobs:
  typecheck:
    runs-on: ubuntu-latest
    env:
      SECRET_KEY: ${{ secrets.SECRET_KEY }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install Poetry
        uses: snok/install-poetry@v1
      - name: Install dependencies
        run: poetry install --all-extras
      - name: Run Mypy
        run: poetry run mypy .