name: Python CI

on: [ push ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Clone the repository
        uses: actions/checkout@v3

      - name: Set environment variables
        working-directory: app-wse
        run: |
          mv .env.example           .env
          mv .env.postgres.example  .env.postgres

      - name: Up Docker
        run: make up

      - name: Run linter
        run: make lint

      - name: Run tests
        run: make test