{% load crispy_forms_tags %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/htmx.css' %}">
{% endblock %}

<div id="assigned-exercises">
  <h2>Назначенные задания обучающемуся</h2>

  <table id="assigned-exercises-table" class="table">
    <thead>
      <tr style="vertical-align: top">
        <th>#</th>
        <th>Упражнение</th>
        <th>Количество</th>
        <th>Вознаграждение</th>
        <th>Ежедневное</th>
        <th>Срок</th>
        <th></th>
      </tr>
    </thead>
    <tbody
      id="assigned-exercises-body"
      hx-confirm="Are you sure?"
      hx-target="closest tr"
      hx-swap="outerHTML swap:1s"
    >
      {% for exercise in assigned_exercises %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>{{ exercise.exercise }}</td>
          <td>{{ exercise.count | default:"-" }}</td>
          <td>{{ exercise.award | default:"-" }}</td>
          <td>{{ exercise.is_daily | yesno:"Ежедневное,Разовое,-" }}</td>
          <td>{{ exercise.expiration | date:"Y/m/d" | default:"-" }}</td>
          <td>
            <button
              class="btn danger"
              hx-delete="{% url 'users:mentorship-mentor-student-assign-delete' object.pk exercise.pk %}"
            >
              Удалить
            </button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if user == object.mentor %}
  <h3>Назначить упражнение</h3>
  {% crispy form %}
  {% endif %}
</div>
