{# Mathematical exercises page #}

{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "math.page.exercises.title" %}{% endblock title %}

{% block content %}
<main class="container">
  <div id="header-block" class="row py-3">
    {# Page header #}
    <div class="col">
      <h1>{% trans "math.page.exercises.header" %}</h1>
    </div>
    {# Back button #}
    <div class="col-auto">
      <a href="javascript:history.back()" class="wse-btn">
        {% trans 'button.back' %}
      </a>
    </div>
  </div>

  {# Created by user calculation and configure regular buttons #}
  <div class="row g-2 mb-2">
    <div class="col-12 col-md-6">
      {# Detail calculation list button #}
      <a class="wse-btn full-width height-huge"
         href="{% url 'math:regular_calculation_exercise_list' %}">
        {% trans 'button.user.calculation.list' %}
      </a>
    </div>
    <div class="col-12 col-md-6">
      {# Regular calculation button #}
      <a class="wse-btn full-width height-huge"
         href="{% url 'math:select_regular_calculation' %}">
        {% trans 'button.exercise.calculation' %}
      </a>
    </div>
    </div>
  </div>
  {# Assigned to student & Assigned by mentor calculations #}
  <div class="row g-2 mb-2">
    <div class="col-12 col-md-6">
      {# Assigned to student calculation list button #}
      <a class="wse-btn full-width height-huge"
         href="{% url 'math:mentor_calculation_exercise_list' %}">
        {% trans 'button.to_student.calculation.list' %}
      </a>
    </div>
    <div class="col-12 col-md-6">
      {# Assigned by mentor calculation list button #}
      <a class="wse-btn full-width height-huge"
         href="#">
        {% trans 'button.from_mentor.calculation.list' %}
      </a>
    </div>
    </div>
  </div>
</main>
{% endblock %}